html{
	background:#083E52;
}

body {
  width:480px;
		background:white;
}
textarea {
  width:434px;
  height:100px;
		resize:vertical;
}
.side-bar-left,.side-bar-right,.btn-col {
  float:left;
  position:relative;
  min-height:10px;
  margin-top:10px;
}
.side-bar-right{
	float:right;
}
.side-bar-left, .side-bar-right {
  width:40px;
  z-index:200;
}
.btn-col {
  width:400px;
  z-index:100;
}
.btn-col button,.side-bar-left .menu-opt {
  float:left;
  margin-right:10px;
  padding:10px 0px;
		cursor:pointer;
}
.side-bar-right .menu-opt {
  float:right;
  margin-left:10px;
  padding:10px 0px;
		cursor:pointer;
}
.side-bar-left .menu-opt,.side-bar-right .menu-opt{
  width: 31px;
  overflow:hidden;
  white-space:nowrap;
  border: solid 1px;
  transition: width 0.5s, background 0.5s;
  background:#F5F5F5;
  color:#031b24;
}
.side-bar-left .menu-opt{
  border-left:none;
		border-radius: 0 5px 5px 0;
		direction:rtl;
}
.side-bar-right .menu-opt{
  border-right:none;
		border-radius: 5px 0 0 5px;
		direction:ltr;
}
.btn-col button{
  width: 190px;
  margin-bottom:10px;
  background:#26AAD8;
  color:#FFFFFF;
  border:solid 1px #FFFFFF;
  border-radius:5px;
}
.side-bar-left .fa,.side-bar-right .fa {
  width:30px;
}
.side-bar-left .menu-opt:hover,.side-bar-right .menu-opt:hover {
  width:100px;
  padding-right:5px;
  background:#DCDCDC;
}
.btn-col button:hover{
	background:#0D91BF;
}
.side-bar-left .menu-opt.active, .side-bar-left .active.menu-opt:hover,.side-bar-right .menu-opt.active, .side-bar-right .active.menu-opt:hover{
 background:#26AAD8;
}
.clear{
	clear:both;
}